.caixa_formulario{
    background-color: white;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.caixa_formulario h1{
    color: palevioletred;
    font-size: 30px;
    
    
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 200px;
    
   
}
.formulario button{
    margin-top: 10px;
    padding: 10px 15px;
    background: rgb(255,55,78);
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    width: 120px;
    align-self: center;

}
.formulario .ipt{
    padding: 10px 15px;
    text-align: center;
    border: rgb(82,143,196) 2px solid;
    border-radius: 7px;
}
.formulario span{
    font-size: 17px;
    padding-top: 7px;
}
